@model Festispec.Lib.Survey.Question.QuestionDetails

<table id="table-@Model.Question" class="table">
    <thead>
        <tr>
            @foreach (var col in Model.Choices.Cols)
            {
                <th scope="col">@col</th>
            }
        </tr>
    </thead>
</table>