@model Festispec.Web.Models.SurveyModel

@{
	ViewBag.Title = "Survey afnemen";
}


	<script>
        let surveyId = @Html.Raw(Model.Survey.Id);
        let tableQuestions = [];
        let drawQuestions = [];
	</script>


<h2>Vragenlijst afnemen</h2>
<form class="survey-container" method="post" enctype="multipart/form-data">
        @foreach (var question in Model.Questions)
        {
            <div class="row">
                <div class="question-container col-12">
                    <h3>@question.Details.Question</h3>
                    <p><strong>Beschrijving: </strong> @question.Details.Description</p>
                    @Html.EditorFor(m => question)
                    <br />
                </div>
            </div>
        }
        <button type="button" class="btn btn-primary" id="saveSurvey">Opslaan</button>
</form>