@model Festispec.Web.Models.SurveyModel

@{
    ViewBag.Title = "Details";
}

<h2>Survey</h2>

@foreach (var question in Model.Questions)
{
    <h3>@question.Details.Question</h3>
    <span>@question.Details.Description</span>
    @Html.EditorFor(m => question);<br />
}