<script src="../../Scripts/jquery-3.3.1.min.js"></script>
<script src="../../Scripts/DrawingJS.js" language="javascript" type="text/javascript"></script>

<script>
    //const canvasDict = new DrawingDict();
    //const test = new DrawQuestion();
</script>

@model Festispec.Web.Models.SurveyModel

@{
    ViewBag.Title = "Vragenlijst";
}

<h2>Vragenlijst</h2>

@if (!string.IsNullOrEmpty(Model.Survey.Description))
{
    <strong>Instructies:</strong>
    <p>@Model.Survey.Description</p>
}
<div class="row">
@foreach (var question in Model.Questions)
{
	<div class="col-12">
		<h3>@question.Details.Question</h3>
		<p>@question.Details.Description</p><br/>
		@Html.EditorFor(m => question)<br />
	</div>
}

</div>