<script src="../../Scripts/js/fabric.min.js" language="javascript" type="text/javascript"></script>
<script src="../../Scripts/DrawingJS.js" language="javascript" type="text/javascript"></script>

<script>
    const canvasDict = new DrawingDict();
</script>

@model Festispec.Web.Models.SurveyModel

@{
    ViewBag.Title = "Vragenlijst";
}

<h2>Vragenlijst</h2>

@if (!string.IsNullOrEmpty(Model.Survey.Description))
{
    <strong>Instructies:</strong>
    <p>@Model.Survey.Description</p>
}

@foreach (var question in Model.Questions)
{
    <h3>@question.Details.Question</h3>
    <p>@question.Details.Description</p><br/>
    @Html.EditorFor(m => question);<br />
}

