@model IEnumerable<Festispec.Domain.Survey>

@{
    ViewBag.Title = "In te vullen vragenlijsten";
}

<h2>In te vullen vragenlijsten</h2>

<table class="table">
    <tr>
        <th>
            Omschrijving
        </th>
        <th>
            Acties
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Afnemen", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
